@model Film

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Description</title>
</head>
<body>
<header>
    <ul>
        <li>
            <a asp-action="Index">Main page</a>
        </li>
    </ul>
</header>

<div class="filmblock">
    <img src="@Model.ImagePath" width="250" height="320"/>
    <br/>
    <p>Title : @Model.Title</p>
    <p>Age restriction : @Model.AgeRestriction</p>
    <p>Plot : @Model.Plot</p>
    <p>Description : @Model.Description</p>
</div>
</body>
</html>
